/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  /*height: 500px;*/
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
/*.carousel-caption {
  z-index: 10;
}*/

/* Declare heights because of positioning of img element */
/*.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}*/

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}





.navbar {
    position: relative;
    min-height: 30px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  -webkit-box-shadow: 0px 10px 21px -4px rgba(0,0,0,0.35);
-moz-box-shadow: 0px 10px 21px -4px rgba(0,0,0,0.35);
box-shadow: 0px 10px 21px -4px rgba(0,0,0,0.35);
}

.navbar-inverse .navbar-nav > li > a {
    color: #222;
    font-weight: lighter;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.navbar-inverse {
    background-color: #fff;
    border-color: #080808;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #1a93e6;
    background-color: transparent;
  border-bottom: 2px solid #1a93e6;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #1a93e6;
  font-weight: normal;
  border-radius: 2px;
}


.carousel-inner img {
    width: 100%;
    margin: auto;
    min-height: 700px;
    max-height: 700px;
}


.carousel-inner {
    position: relative;
    width: 100%;
    overflow:visible !important;
    min-height: 700px !important;
}

.navbar-inverse {
    background-color: #fff;
    border-color: #fff;
}






.form-control {
    display: block;
    width: 100%;
    height: 64px;
    padding: 6px 12px;
    font-size: 17px;
  font-weight: 300;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
  border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.0);
    box-shadow: inset 0 0 0 rgba(0,0,0,.0) !important;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.ttext {
  padding-top: 16px !important;
  color: #153d70; 
  font-weight: 300; 
  letter-spacing: 1px;
  font-size: 16px;
}


.btn-primary, .btn-primary:link, .btn-primary:active, .btn-primary:visited, .btn-primary.active, .btn-primary:focus {
    background-color: #337ab7 !important;
    border-color: #337ab7;
  padding:  15px 70px;
  border-radius: 0;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.btn-primary:hover {
    background-color: #1a93e6 !important;
    border-color: #1a93e6;
}